body {
    background-color: pink;
}

.top {
    text-align: center;
}
p {
    color: white;
}
img{
    width: 30%;
}
.pic{
    display: block;
    margin: 0 auto;

}
.center{
    margin-inline-start: 400px;
    padding-inline-start: 40px;
}
.bottom{
    text-align: center;
}
h2 {
    color: white;
}
footer{
    text-align: center;
}
  
h1:hover{
    color: white;
}